#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 1rem;
}

menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.menurow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.joinbox, .hostbox, .pubbox {
  height: 10rem;
  width: 20rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}


.lobbypanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.lobbyfield {
  width: 20rem;
  min-height: 5rem;
}

.gamefield {
  min-width: 22rem;
  min-height: 30rem;
}

#roombox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#playerbox {
  min-height: 8rem;
  max-height: 12rem;
}

#chatbox {
  min-height: 14rem;
  max-height: 16rem;
  margin-bottom: 1rem;
}

#chat {
  height: 12rem;
  overflow: hidden;
  overflow-y: scroll;
}

#players {
  height: 5rem;
  overflow: hidden;
  overflow-y: scroll;
}

.chatentry, .playerentry {
  width: 94%;
  text-align: left;
}

.chatinfo {
  float: right;
  color: #999;
  font-size: small;
}

.playerinfo {
  float: right;
}

#chatinput {
  width: 100%;
}

#setbut {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0;
}

#settingsbox {
  display: flex;
  flex-direction: column;
}

.resultans {
  width: 100%;
}

.canvaswrap {
  touch-action: none;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }
  
  .joinbox, .hostbox, .pubbox {
    width: 100%;
  }

  .joinbox {
    height: 5rem;
  }

  .menurow {
    flex-direction: column;
  }

  .lobbypanel {
    width: 100%;
  }

  .lobbyfield, .gamefield {
    width: 105%;
  }

  .gamefield {
    width: 40%;
  }
}