#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(315deg, #89909F, #191716);
}

h1 {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 4rem 0 0 0;
  margin: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 1rem;
}

input {
  font-size: 1.2rem;
}

menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  padding: 0;
  margin: 0;
}

#tutorial {
  width: 80vw;
  min-height: fit-content;
  max-height: 85vh;
  overflow: hidden;
  overflow-y: scroll;
}

ol {
  margin: 0;
  padding: 0;
  text-align: left;
  list-style: decimal;
}

#tutorial li {
  margin: 0;
  padding: 0;
  margin-bottom: .5rem;
}

.rowstyle {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: .5rem;
}

fieldset {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  border-radius: 2.5%;
}

.pubgame {
  margin: 0;
}

.joinbox, .hostbox, .pubbox {
  height: 11rem;
  width: 20rem;
  border: 1px solid #aaa;
}

.pubbox {
  width: 40rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

legend {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: .2rem
}

.lobbypanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.lobbyfield {
  width: 20rem;
  min-height: 5rem;
  border: 1px solid #aaa;
}

.lobbyfield h3 {
  border: 1px solid #aaa;
  background-color: #343434;
  border-radius: 5%;
  padding: .4rem;
  margin-top: 1.5rem;
}

.gamefield {
  min-width: 22rem;
  min-height: 31.5rem;
  border: 1px solid #aaa;
}

#roombox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#playerbox {
  min-height: 8rem;
  max-height: 12rem;
}

#chatbox {
  min-height: 14rem;
  max-height: 16rem;
  margin-bottom: 1rem;
}

#chat {
  height: 12rem;
  overflow: hidden;
  overflow-y: scroll;
}

#players {
  height: 5rem;
  overflow: hidden;
  overflow-y: scroll;
}

.chatentry, .playerentry {
  width: 94%;
  text-align: left;
}

.chatinfo {
  float: right;
  color: #999;
  font-size: small;
}

.playerinfo {
  float: right;
}

#chatinput {
  width: 100%;
}

#setbut {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 1rem 0;
}

#settingsbox {
  display: flex;
  flex-direction: column;
}

#textanswer {
  width: 70%;
  margin: .5rem 0;
  font-size: 1.3rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.resultans {
  width: 100%;
}

.canvaswrap {
  touch-action: none;
}

#play, #demo {
  
  margin: .5rem 0;
  border-radius: 5%;

  background-color: #353a47;
  border: 1px solid #aaa;
  color: #fff;
}

#play {
  padding: 1rem 3.5rem;
  font-size: 1.5rem;
  font-weight: 600;
}

#play:hover, #demo:hover, #hostsub:hover, #joinsub:hover, #joinpub:hover {
  background-color: #4a4f5f;
}

#demo {
  padding: .5rem 1rem;
  font-size: 1.2rem;
  font-weight: 450;
}

#nickname {
  margin: .5rem 0;
  width: 100%;
  font-size: 1.3rem;
  text-align: center;
}

.hostfield {
  width: 100%;
  margin: .2rem 0;
}

.maxwidth {
  width: 80%;
}

#hostsub, #joinsub, #joinpub {
  margin: 0 .5rem;
  font-size: 1.2rem;
  background-color: #353a47;
  border: 1px solid #aaa;
}

#joinsub {
  margin: .4rem 0;
}

#return {
  font-size: 1rem;
  margin: 2rem 0 1rem 0;
}

#roombox h3 {
  margin-bottom: 0;
}

@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
  }

  #return {
    font-size: 1rem;
    margin: 1rem 0 .3rem 0;
  }
  
  .joinbox, .hostbox, .pubbox {
    width: 100%;
  }

  .joinbox {
    height: 6.5rem;
  }

  .pubbox {
    max-width: 80vw;
    margin: 0;
  }

  .rowstyle {
    flex-direction: column;
  }

  .lobbypanel {
    width: 90vw;
    margin: 0;
  }

  .lobbyfield, .gamefield {
    width: 90vw;
  }

  .lobbyfield h3 {
    margin-top: .5rem;
  }

  .gamefield {
    min-width: 95vw;
    padding: 0;
    margin: 0 0 1rem 0;
  }

  #chatbox {
    min-height: 10rem;
    max-height: 12rem;
    margin: 0;
  }

  #roombox h3 {
    margin-bottom: 0;
  }

  #nickname {
    margin: .5rem 0;
    width: 60%;
    font-size: 1.8rem;
    text-align: center;
  }

  body {
    min-height: 100vh;
    height: fit-content;
  }
}