#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 1rem;
}

menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.menurow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 1rem;
}

fieldset {
  display: flex;
  flex-direction: column;
}

.joinbox, .hostbox, .pubbox {
  height: 8rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.lobbypanel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-right: 2rem;
}

.lobbyfield {
  width: 20rem;
  min-height: 5rem;
}

.gamefield {
  width: 36rem;
  min-height: 24rem;
}

#playerbox {
  max-height: 8rem;
}

#chatbox {
  max-height: 10rem;
  margin-bottom: 1rem;
}

#chat {
  height: 8rem;
  overflow: hidden;
  overflow-y: scroll;
}

#players {
  height: 5rem;
  overflow: hidden;
  overflow-y: scroll;
}

.chatentry, .playerentry {
  width: 100%;
  text-align: left;
}

#chatinput {
  width: 100%;
}